// Light theme

$bg-color-light: #FFF;
$primary-font-light: #07060B;
$secondary-font-light: #A8A8A8;


// Dark theme

$bg-color-dark: #25424C;

$primary-font-dark: #2D2D2D;
$secondary-font-dark: #A9A9A9;

