.map {
    color: #000;
    cursor: pointer;
    &__grid {
        display: grid;
        grid-template-columns: repeat(100, 1fr);
        grid-template-rows: repeat(100, 1fr);
    }

    &__cell {
        padding: 0;
        aspect-ratio: 1;
    }
}